<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Despliegues</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    
    <div class="container" id="deploy">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary bg-light text-secondary">PRD</button>
        <button type="button" class="btn btn-secondary bg-light text-secondary">HML</button>
        <button type="button" class="btn btn-secondary bg-light text-secondary">QA</button>
      </div>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Modulo</th>
            <th scope="col">Version</th>
            <th scope="col">Ambiente</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>GEDO</td>
            <td>7.0.1</td>
            <td>PRD</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>GEDO</td>
            <td>7.0.0</td>
            <td>PRD</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>EE</td>
            <td>6.7.1</td>
            <td>PRD</td>
          </tr>
        </tbody>
      </table>
    </div>

    <% include partials/footer %>
  </body>
</html>
