<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title class="animated tada">Incidentes y Despliegues</title>
  <% include partials/head %>
</head>

<body>

  <!-- HEADER -->
  <% include partials/navigation %>

  <!-- MAIN CONTENT -->

  

  <div class="container">
      <div  class="contenido1" id="canvas-container" style="width:50%;">
          <canvas id="chart" width="500" height="350"></canvas>
          
        </div>

        <div class="contenido2" id="canvas-container2" style="width:50%;">
            
            <canvas id="chart2" width="500" height="350"></canvas>
          </div>

        
    <header class="row">
      <!-- HTML -->
      <div id="chartdiv"></div>
    </header>
  </div>
  <div class="state">

    <div class="col-md-6">
      <canvas id="lineChart"></canvas>

    </div>
  </div>

  <!-- section one -->
  <div class="container-fluid" id="about">
    <div class="row bg-info text-white p-5 text-center">
      <div class="col-sm-6">
        <i class="far fa-persona-carry fa-8x"></i>
        <!--Arreglar este icono algun dia-->
      </div>
      <div class="col-sm-6">
        <!-- aqui va el chart bar (estadisticas)-->
        <h3>TEXTO INFORMATIVO</h3>
        <p>
          <span>Texto informativo.</span>
        </p>
      </div>
    </div>
  </div>

  <!-- FOOTER -->
  <% include partials/footer %>

  <!-- JAVASCRIPT CDNS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- aqui abajo una grafica que tengo que maquetar despues-->

  <script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>


  <script type="text/javascript" src="dist/Chart.bundle.min.js"></script>
  <script type="text/javascript" src="torre1.js"></script>
    <script type="text/javascript" src="torre.js"></script> <!--Tratando de traer los js desde otro archivo. -->
    <script type="text/javascript" src="chart.js"></script> <!--Tratando de traer los js desde otro archivo. -->
    
    
</body>

</html>

<!--Para arrancar el servidor npm run dev   -->