<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Priorizados</title>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/navigation %>

    <div class="container p-5">
        <div class="col-lg-12 text-center">
        <img src="/img/fuera-de-servicio.png" class="w-auto animated fadeIn" alt="Website Logo">
      </div>
    </div>

    <% include partials/footer %>
  </body>
</html>
