body {
  background: #ebedf2; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #348AC7, #7474BF);  /* Chrome 10-25, Safari 5.1-6 */
 /* background: linear-gradient(to right, #348AC7, #7474BF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navbar-brand {
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 1.5rem;
}

.nav-link {
  text-transform: uppercase;
  font-family: "Segoe UI",Arial,sans-serif;
}

header img {
  width: 60%;
}
.h4 {
  color: #FEFEFE;
}

.chartjs-render-monitor {
  -webkit-animation: chartjs-render-animation 0.001s;
  animation: chartjs-render-animation 0.001s;
}


.contenido2 {
  float: left;
  overflow: hidden; 
}

.contenido1 {
  float: left;
}

.contenido3 {
  float: left;
  overflow: hidden; 
}
.bg-info {
  background-color: #085b85!important;
}

#chartdiv {
  width: 100%;
  height: 700px;
}
h2#titulobar {
  text-align: center;
  font-family: "Segoe UI",Arial,sans-serif;
  font-size: 1.5rem;
}

.navbar {
  margin-bottom: 20px;
  padding: inherit;
}

